@model SzunyogvarEtterem.Models.MenuItemModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>MenuItemModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="MenuItemID" class="control-label"></label>
                <input asp-for="MenuItemID" class="form-control" />
                <span asp-validation-for="MenuItemID" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="MenuItemName" class="control-label"></label>
                <input asp-for="MenuItemName" class="form-control" />
                <span asp-validation-for="MenuItemName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryID" class="control-label"></label>
                <input asp-for="CategoryID" class="form-control" />
                <span asp-validation-for="CategoryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryName" class="control-label"></label>
                <input asp-for="CategoryName" class="form-control" disabled/>
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
