@{
    ViewData["Title"] = "Szúnyogvár Étterem";
}
@*<header>
    <input type="button" value="1. asztal" />
   <input type="button" value="2. asztal" />
   <input type="button" value="3. asztal" />
   <input type="button" value="4. asztal" />
   <input type="button" value="5. asztal" />
   <input type="button" value="6. asztal" />
   <input type="button" value="7. asztal" />
</header>*@

<div class="text-center">
    @*<h1 class="display-10">Szúnyogvár Étterem</h1>*@
     <img src="~/images/mosquito.png" />
    @*<p>Rendelés felvétel</p>*@
</div>
<style>body{background-color:#F7FFFC}</style>

